.flotte {
    width:25%;
    height:25%;
    padding: 0;
}
figure{
    margin-left: 30%;
    margin-top: 5%;
    display:flex;
}

figcaption{
    
    font-family: serif;
    font-size:larger;
    margin-left: 5%;
    padding: 0;
    width:20%;
    text-align: justify;
}

h1{
    text-align: center;
}