.flotte img{
float:left;
margin-left: 25%;
margin-top: 5%;
width:25%;
height:25%;
padding: 0;
}

.resume{
    float:right;
    font-family: serif;
    font-size:larger;
    margin-right: 25%;
    margin-top: 5%;
    padding: 0;
    width:20%;
    text-align: justify;
}

h1{
    text-align: center;
}
.decod img{
    margin-right: 0;
    width: 50%;
    height: 50%;
}
.decog img{
    margin-left: 0;
    border: solid 1px black;
    
}