.sidebar-card{
  border-radius: 18px;
  border: 1px solid rgba(0,0,0,.06);
  box-shadow: 0 14px 40px rgba(16,24,40,.10);
}

.sidebar-card h5{
  font-weight: 800;
}
.sidebar-card .list-group-item{
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.changertxt{
  font-family: 'Caveat', cursive;
  font-size:48px;
  font-weight:600;
}